[Desktop Entry]
Version=1.0
Type=Application

Name=Clemens
Comment=An Apple IIgs Emulator and Debugger written in C/C++ for Windows and Linux.
Categories=Development;

Icon=com.samirsinha.Clemens.png
Exec=clemens_65816_emulator
Terminal=true
